<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
>
  <div class="bg-white rounded-lg p-6 max-w-lg w-full">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-semibold">Add your resume</h2>
      <button (click)="closeModal()" class="text-gray-500 text-2xl">
        &times;
      </button>
    </div>
    <p class="mb-4" [ngClass]="{ 'text-red-500': isError }">
      Use a PDF, Word doc, or rich text file - make sure it's 5MB or less.
    </p>

    <form
      (ngSubmit)="submit()"
      #resumeForm="ngForm"
      enctype="multipart/form-data"
      action="/uploadResume"
    >
      <div
        *ngIf="!resumeUploaded && !isLoading"
        class="border-dashed border-2 border-gray-300 rounded-lg p-6 text-center"
        [ngClass]="{ 'border-red-500': isError, 'border-gray-300': !isError }"
        (drop)="onFileDrop($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
      >
        <div class="flex flex-col items-center justify-center h-32">
          <!-- SVG Icon omitted for brevity -->
          <p class="text-gray-600">
            drag and drop or
            <span
              class="text-green-500 cursor-pointer"
              (click)="openCloudinaryWidget()"
              >choose file</span
            >
          </p>

          <input
            accept=".pdf"
            #fileInput
            type="file"
            id="resume"
            name="resume"
            class="hidden"
            (change)="onFileSelected($event)"
          />
        </div>
      </div>

      <div *ngIf="isLoading" class="border rounded-lg p-4 mt-4">
        <div class="relative pt-1">
          <div class="flex mb-2 items-center justify-between">
            <div class="text-right">
              <span class="text-xs font-semibold inline-block text-black">
                Loading...
              </span>
            </div>
          </div>
          <div
            class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-green-100"
          >
            <div
              class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-black"
              [style.width.%]="loadingProgress"
            ></div>
          </div>
        </div>
      </div>

      <div *ngIf="resumeUploaded" class="border rounded-lg p-4 mt-4">
        <div class="flex items-center">
          <span>{{ uploadedFileName }}</span>
          <button (click)="removeFile()" class="ml-auto text-gray-500 text-lg">
            <!-- SVG Icon omitted for brevity -->
          </button>
        </div>
      </div>

      <div class="flex justify-end mt-4">
        <button
          type="submit"
          class="bg-green-500 text-white py-2 px-4 rounded-lg"
          [disabled]="!resumeUploaded || isLoading"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
