<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Postings</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <app-navbar-after-login></app-navbar-after-login>
    <div class="mx-20 mt-12">
      <h1 class="text-5xl">My proposals</h1>
      <div class="mt-6 space-y-6">
        <div
          class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
          style="font-size: 1.25rem"
        >
          <a href="/browse/invites">Invites (0)</a>
        </div>
        <div
          class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
          style="font-size: 1.25rem"
        >
          <span>Invitations to interview (0)</span>
        </div>
        <div
          class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
          style="font-size: 1.25rem"
        >
          <span>Active proposals (0)</span>
        </div>
        <div
          class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
          style="font-size: 1.25rem"
        >
          <span>Submitted proposals (0)</span>
        </div>
      </div>
    </div>
  </body>
</html>
